[Unit]
Description=Monthly system maintenance timer

[Timer]
OnCalendar=*-*-01 02:30
RandomizedDelaySec=15m
Persistent=true

[Install]
WantedBy=timers.target
