[Unit]
Description=Tachyon Validator (X1 mainnet) - junior
Wants=network-online.target
After=network-online.target run-accounts.mount

[Service]
User=junior
WorkingDirectory=/home/junior
Type=simple
Environment=RUST_LOG=solana_metrics=warn,info
PermissionsStartOnly=true
ExecStartPre=/usr/bin/test -r /home/junior/.config/solana/identity.json
ExecStartPre=/usr/bin/test -r /home/junior/.config/solana/vote.json
ExecStartPre=/bin/mkdir -p /home/junior/ledger
ExecStartPre=/bin/mkdir -p /home/junior/snapshots
ExecStartPre=/bin/mkdir -p /run/accounts
ExecStartPre=/bin/chown -R junior:junior /home/junior/ledger /home/junior/snapshots
ExecStart=/home/junior/tachyon/target/release/tachyon-validator \
  --identity /home/junior/.config/solana/identity.json \
  --vote-account /home/junior/.config/solana/vote.json \
  --entrypoint entrypoint0.mainnet.x1.xyz:8001 \
  --entrypoint entrypoint1.mainnet.x1.xyz:8001 \
  --entrypoint entrypoint2.mainnet.x1.xyz:8001 \
  --entrypoint entrypoint3.mainnet.x1.xyz:8001 \
  --entrypoint entrypoint4.mainnet.x1.xyz:8001 \
  --known-validator 7ufaUVtQKzGu5tpFtii9Cg8kR4jcpjQSXwsF3oVPSMZA \
  --known-validator 5Rzytnub9yGTFHqSmauFLsAbdXFbehMwPBLiuEgKajUN \
  --known-validator 4V2QkkWce8bwTzvvwPiNRNQ4W433ZsGQi9aWU12Q8uBF \
  --known-validator CkMwg4TM6jaSC5rJALQjvLc51XFY5pJ1H9f1Tmu5Qdxs \
  --known-validator 7J5wJaH55ZYjCCmCMt7Gb3QL6FGFmjz5U8b6NcbzfoTy \
  --only-known-rpc \
  --log - \
  --ledger /home/junior/ledger \
  --accounts /run/accounts \
  --snapshots /home/junior/snapshots \
  --rpc-port 8899 \
  --dynamic-port-range 8000-8020 \
  --wal-recovery-mode skip_any_corrupted_record \
  --limit-ledger-size 50000000 \
  --full-snapshot-interval-slots 5000 \
  --maximum-incremental-snapshots-to-retain 10 \
  --maximum-full-snapshots-to-retain 50
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=3
StartLimitBurst=0
LimitNOFILE=1000000
TasksMax=infinity
OOMScoreAdjust=-900
TimeoutStopSec=300
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
